JWT_SECRET=test
NEXTAUTH_URL=http://localhost:3001
NEXT_PUBLIC_HDFC_REDIRECT_URL="https://netbanking.hdfcbank.com"
NEXT_PUBLIC_AXIS_REDIRECT_URL="https://www.axisbank.com"
NEXTAUTH_SECRET="your-secret-here"
